<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ITestService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/testpipe" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ITestService" contract="ServiceReference1.ITestService"
                name="NetNamedPipeBinding_ITestService">
                <identity>
                    <userPrincipalName value="SUBHASISH-PC\subhasish" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>