<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="WPFBasic_FirstPrismEx.ICalculator,InterfacesLibrary" mapTo="WPFBasic_FirstPrismEx.Calculator,CalculatorLibrary"></type>
          <type type="WPFBasic_FirstPrismEx.ICalculatorReplLoop,InterfacesLibrary" mapTo="WPFBasic_FirstPrismEx.CalculatorReplLoop,CalculatorLibrary"></type>
          <type name="ConsoleOutputService" type="WPFBasic_FirstPrismEx.IOutputService,InterfacesLibrary" mapTo="WPFBasic_FirstPrismEx.ConsoleOutputService,InputOutputLibrary"></type>
          <type name="WindowOutputService" type="WPFBasic_FirstPrismEx.IOutputService,InterfacesLibrary" mapTo="InputOutputLibrary.MessageBoxOutputService,InputOutputLibrary"></type>
          <type type="WPFBasic_FirstPrismEx.IInputService,InterfacesLibrary" mapTo="WPFBasic_FirstPrismEx.ConsoleInputService,InputOutputLibrary"></type>
          <type type="WPFBasic_FirstPrismEx.IInputPerserService,InterfacesLibrary" mapTo="WPFBasic_FirstPrismEx.InputPerserService,CalculatorCommadParsingLibrary"></type>
        </types>
      </container>
    </containers>
  </unity>-->

  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="CalculatorCommadParsingLibrary.dll" 
            moduleType="CalculatorCommadParsingLibrary.CalculatorCommandParsingModule,CalculatorCommadParsingLibrary" 
            moduleName="CalculatorCommandParsingModule"/>
    
    <module assemblyFile="CalculatorLibrary.dll" 
            moduleType="CalculatorLibrary.CalculatorModule,CalculatorLibrary" 
            moduleName="CalculatorModule"/>
    
    <module assemblyFile="InputOutputLibrary.dll" 
            moduleType="InputOutputLibrary.InputOutputModule,InputOutputLibrary" 
            moduleName="InputOutputModule"/>
    
    <module assemblyFile="MainModuleLibrary.dll" 
            moduleType="MainModuleLibrary.MainModule,MainModuleLibrary" 
            moduleName="MainModule">
      <dependencies>
        <dependency moduleName="CalculatorModule"/>
        <dependency moduleName="CalculatorCommandParsingModule"/>
        <dependency moduleName="InputOutputModule"/>
      </dependencies>
    </module>
      
  </modules>
</configuration>

