<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="BaseServiceUrl" value="http://localhost:59532/"/>
    <add key="PhotosFolder" value="C:\MicrosoftTechnology\TFS\WPF\Ram_Interview_Practice\CaseStudyMVVMSolution\Photos"/>
    <add key="VideosFolder" value="C:\MicrosoftTechnology\TFS\WPF\Ram_Interview_Practice\CaseStudyMVVMSolution\Videos"/>
    <add key="MainViewName" value="OrderSystemDashboardView"/>
  </appSettings>

  <unity configSource="UnityConfiguration.config" />
</configuration>