<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">


  <assembly name="Subhasish.Libraries.SOA.Contracts.Services"/>
  <assembly name="Subhasish.Libraries.SOA.Proxies"/>
  <assembly name="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
  <assembly name="Subhasish.Libraries.UI.Views"/>
  <assembly name="Subhasish.Libraries.UI.Framework"/>
  <assembly name="Subhasish.Libraries.UI.ViewModels.Impl"/>
  <assembly name="Subhasish.Libraries.UI.Infrastructure.Core"/>
  <assembly name="Subhasish.Libraries.UI.Infrastructure.WPF"/>

  <namespace name="Subhasish.Libraries.SOA.Contracts.Services"/>
  <namespace name="Subhasish.Libraries.SOA.Proxies"/>
  <namespace name="System.Windows"/>
  <namespace name="Subhasish.Libraries.UI.Views"/>
  <namespace name="Subhasish.Libraries.UI.Framework"/>
  <namespace name="Subhasish.Libraries.UI.ViewModels.Impl"/>
  <namespace name="Subhasish.Libraries.UI.Infrastructure.Core"/>
  <namespace name="Subhasish.Libraries.UI.Infrastructure.WPF"/>


  <container>
    <register mapTo="OrderSystemServiceProxy" type="IOrderSystemService">
      <lifetime type="singleton"/>
    </register>
    <register name="OrderSystemDashboardView"
            mapTo="OrderSystemDashboardView"
            type="Window"/>

    <register name="OrderSystemDashboardViewModel"
                mapTo="OrderSystemDashboardViewModel"
                type="BaseViewModel">
      <lifetime type="singleton"/>
    </register>

    <register mapTo="WPFUserInteractionService" type="IUserInteractionService">
      <lifetime type="singleton"/>
    </register>

    <register mapTo="WPFApplicationService" type="IApplicationService">
      <lifetime type="singleton"/>
    </register>
    
  </container>

 
</unity>
