<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <assembly name="Subhasish.Libraries.SOA.Contracts.Services"/>
  <assembly name="Subhasish.Libraries.SOA.Proxies"/>

  <namespace name="Subhasish.Libraries.SOA.Contracts.Services"/>
  <namespace name="Subhasish.Libraries.SOA.Proxies"/>

  <container>
    <register mapTo="CustomerServiceProxy" type="ICustomerService">
      <lifetime type="singleton"/>
    </register>

    <register mapTo="OrderServiceProxy" type="IOrderService">
      <lifetime type="singleton"/>
    </register>
  </container>
  
  
</unity>
