<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="WSHttpBinding_IDownloadService" messageEncoding="Mtom" maxReceivedMessageSize="700000" >
                <readerQuotas maxArrayLength="700000"/>
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-a0i84f6/DownloadService/DownloadService.svc/DownloadService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDownloadService"
                contract="DownloadService.IDownloadService" name="WSHttpBinding_IDownloadService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-A0I84F6" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>