@page
@using global::SVLakeview.Model.Core
@model SVLExpenseListModel
@{
}

<h1>Expenses</h1>

<form  method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" name="searchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

</form>
<table class="table">
    @foreach (Expense e in @Model.Expenses)
    {
        <tr>
            <td>@e.ExpenseType</td>
            <td>@e.ExpAmount</td>
            <td>@e.ExpDescription</td>
        </tr>
    }
</table>