<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFBasic_ServiceLib.TestService" behaviorConfiguration="behaviourCollecton_0">
        <endpoint 
          contract="WCFBasic_ContractLib.ITestService" 
          binding="netNamedPipeBinding" 
          address="net.Pipe://localhost/testpipe">
        </endpoint>
      </service>
    </services>

    <behaviors>

      <serviceBehaviors>
        <behavior name="behaviourCollecton_0">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9000/metadata"/>
        </behavior>
      </serviceBehaviors>
    
    </behaviors>
    
  </system.serviceModel>
</configuration>