<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICompanyPublicService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICompanyCofidentialService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CompanyService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICompanyPublicService"
                contract="CompanyService.ICompanyPublicService" name="BasicHttpBinding_ICompanyPublicService" />
            <endpoint address="net.tcp://localhost:8090/CompanyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICompanyCofidentialService"
                contract="CompanyService.ICompanyCofidentialService" name="NetTcpBinding_ICompanyCofidentialService">
                <identity>
                    <userPrincipalName value="DESKTOP-A0I84F6\subha" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>