<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CustomerServiceUrl" value="http://localhost:55599/customerService.svc"/>
    <add key="OrderServiceUrl" value="http://localhost:55599/OrderService.svc"/>
  </appSettings>
  
</configuration>