<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp" messageEncoding="Mtom" maxReceivedMessageSize="700000">
          <readerQuotas maxArrayLength="700000"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="DownloadService.DownloadService" behaviorConfiguration="mexBehaviour">
        <endpoint address="DownloadService"
                  binding="wsHttpBinding"
                  contract="DownloadService.IDownloadService"
                  bindingConfiguration="wsHttp">
          
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
