<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <assembly name="Subhasish.Libraries.ORM.Interfaces"/>
  <assembly name="Subhasish.Libraries.ORM.Implementations"/>
  <assembly name="Subhasish.Libraries.DAL.Interfaces"/>
  <assembly name="Subhasish.Libraries.DAL.Implementation"/>
  <assembly name="Subhasish.Libraries.Business.Interfaces"/>
  <assembly name="Subhasish.Libraries.Business.Implementation"/>
  

  <namespace name="Subhasish.Libraries.ORM.Interfaces"/>
  <namespace name="Subhasish.Libraries.ORM.Implementations"/>
  <namespace name="Subhasish.Libraries.DAL.Interfaces"/>
  <namespace name="Subhasish.Libraries.DAL.Implementation"/>
  <namespace name="Subhasish.Libraries.Business.Interfaces"/>
  <namespace name="Subhasish.Libraries.Business.Implementation"/>

  <container>

    <register mapTo="CustomerSystemContext" type="ICustomerSystemContext">
      <lifetime type="singleton"/>
    </register>
    <register mapTo="OrderSystemContext" type="IOrderSystemContext">
      <lifetime type="singleton"/>
    </register>
    <register mapTo="CustomerRepository" type="ICustomerRepository">
      <lifetime type="singleton"/>
    </register>
    <register mapTo="OrderRepository" type="IOrderRepository">
      <lifetime type="singleton"/>
    </register>
    <register mapTo="CustomerBusinessService" type="ICustomerBusinessService">
    </register>
    <register mapTo="OrderBusinessService" type="IOrderBusinessService">
    </register>
    
  </container>
</unity>