@page
@model MyApartment.WebClient.ClientExpenseModel

<h2>Client Expese</h2>

<table class="table" id="expenseTable">

</table>
@section Scripts
{
    <environment include="Development">
        <script src="D:\Git\SUBHASISH-DEVELOPMENT\MyProjects\MyApartment\MyApartment.WebClient\node_modules\datatables.net\js\jquery.dataTables.js"></script>
        <script src="D:\Git\SUBHASISH-DEVELOPMENT\MyProjects\MyApartment\MyApartment.WebClient\node_modules\datatables.net-bs\js\dataTables.bootstrap.js"></script>
        <link href="D:\Git\SUBHASISH-DEVELOPMENT\MyProjects\MyApartment\MyApartment.WebClient\node_modules\datatables.net-bs\css\dataTables.bootstrap.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>
    </environment>

    <script>
        $(function () {
            $.ajax("/api/MyApartmentExpenses/", { method: "get" }).
                then(function (response)
                {
                    $("#expenseTable").dataTable({
                        data: response,
                        coloumns: [{"data" : "expenseDescription"}, {"data" : "expenseAmount"}, {"data" : "expenseType"}]
                    })
                })
        })
    </script>
}
